{% extends 'proStageTemplate.html.twig' %}


{% block titre %}{{parent()}}Formations index{% endblock %}

{% block titrePage %}
Liste des formations :
{% endblock %}

{% block contenuPage %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.code }}</td>
                <td>{{ formation.nom }}</td>
                <td>
                    <a href="{{ path('formation_show', {'id': formation.id}) }}">Consulter</a>
                    <a href="{{ path('formation_edit', {'id': formation.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune formation trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('formation_new') }}">Créer une nouvelle formation</a>
{% endblock %}
