{% extends 'proStageTemplate.html.twig' %}


{% block titre %}{{parent()}}Formation : Afficher{% endblock %}

{% block titrePage %}
Formation : {{formation.nom}}
{% endblock %}

{% block contenuPage %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ formation.code }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ formation.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_index') }}">Retour à la liste des formations</a> </br>

    <a href="{{ path('formation_edit', {'id': formation.id}) }}">Editer</a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
