{% extends 'proStageTemplate.html.twig' %}

{% block titre %}{{parent()}}Stages{% endblock %}


{% block titrePage %}
<h2>Ajouter une entreprise : </h2>
{% endblock %}

{% block contenuPage %}
{{ form_start(vueFormulaire) }}

{{ form_row(vueFormulaire.nom) }}

{{ form_row(vueFormulaire.adresse) }}

{{ form_row(vueFormulaire.acitivite) }}

{{ form_row(vueFormulaire.site) }}

{{ form_end(vueFormulaire) }}
{% endblock %}
