{% extends 'proStageTemplate.html.twig' %}

{% block titre %}{{parent()}}Stages{% endblock %}


{% block titrePage %}
<h2>Ajouter un stage : </h2>
{% endblock %}

{% block contenuPage %}
{{ form_start(vueFormulaire) }}

{{ form_row(vueFormulaire.titre, {'attr':{'placeholder':"Titre du stage..."}}) }}

{{ form_row(vueFormulaire.email, {'attr':{'placeholder':"Adresse de l'entreprise..."}}) }}

{{ form_row(vueFormulaire.description, {'attr':{'placeholder':"Activité de l'entreprise..."}}) }}

<p>Entreprise</p>

{{ form_row(vueFormulaire.entreprise.nom, {'attr':{'placeholder':"Nom de l'entreprise..."}}) }}

{{ form_row(vueFormulaire.entreprise.adresse, {'attr':{'placeholder':"Adresse de l'entreprise..."}}) }}

{{ form_row(vueFormulaire.entreprise.acitivite, {'attr':{'placeholder':"Activité de l'entreprise..."}}) }}

{{ form_row(vueFormulaire.entreprise.site, {'attr':{'placeholder':"Site web de l'entreprise..."}}) }}

{{ form_row(vueFormulaire.formations, {'attr':{'placeholder':"Les formations correspondantes..."}}) }}

<button type="submit" class="btn btn-dark">Enregistrer</button>

{{ form_end(vueFormulaire) }}
{% endblock %}
