{% extends 'proStageTemplate.html.twig' %}

{% block titre %}{{parent()}}Accueil{% endblock %}



{% block titrePage %}
Voici la liste des stages proposés par l'entreprise : {{nomEntreprise}}
{% endblock %}

{% block contenuPage %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-sm table-bordered">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Titre
						</th>
						</tr>
				</thead>
        {% for stageCourant in stages %}
				<tbody>
					<tr>
						<td>
							{{stageCourant.id}}
						</td>
						<td>
							<a href='{{path('proStage_descriptifStage',{id:stageCourant.id})}}'> {{stageCourant.titre}}</a>
						</td>
						</tr>
          {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

</br></br>

Informations sur l'entreprise :
<ul>
  <li>Actvité : {{stages[0].entreprise.acitivite}} </li>
  <li>Adresse : {{stages[0].entreprise.adresse}} </li>
  <li>Site Internet : {{stages[0].entreprise.site}}
</ul>

{% endblock %}
