{% extends 'proStageTemplate.html.twig' %}

{% block titre %}{{parent()}}Accueil{% endblock %}



{% block titrePage %}
Voici la liste des stages de la formation : {{nomFormation}}
{% endblock %}

{% block contenuPage %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-sm table-bordered">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Titre
						</th>
						<th>
							Entreprise
						</th>
					</tr>
				</thead>
        {% for stageCourant in stages %}
				<tbody>
					<tr>
						<td>
							{{stageCourant.id}}
						</td>
						<td>
							<a href='{{path('proStage_descriptifStage',{id:stageCourant.id})}}'> {{stageCourant.titre}}</a>
						</td>
						<td>
							{{stageCourant.entreprise.nom}}
						</td>
						</tr>
          {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}
