{% extends 'proStageTemplate.html.twig' %}

{% block titre %}{{parent()}}Formations{% endblock %}


{% block titrePage %}
<h2>Les formations de l'IUT</h2>
{% endblock %}

{% block contenuPage %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-sm table-bordered">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Code
						</th>
						<th>
							Nom
						</th>
					</tr>
				</thead>
        {% for formationCourante in formations %}
				<tbody>
					<tr>
						<td>
							{{formationCourante.id}}
						</td>
						<td>
            <a href='{{path('proStage_formation',{nomFormation:formationCourante.nom})}}'> {{formationCourante.code}}</a>
						</td>
						<td>
							{{formationCourante.nom}}
						</td>
					</tr>
          {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock %}
